body{
    margin: 0;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contenido-principal{
    background-image: url("../../img/fondo-general.avif");
    width: 100%;
    height: 45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor-regresar{
    margin: 1rem;
}

.regresar{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.contenedor-productos{
    display: flex;
    justify-content: center;
}

.tabla{
    color: white;
    width: 75%;
    font-size: 1.25rem;
    border: 4px solid darkblue;
    padding: 1rem;
    border-radius: 0.5cm;
}

h1{
    color: white;
    text-align: center;
}